{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_styles %}

        .socialaccount_ballot a {
            background-color: lightblue;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: inline-block;
        }
        li {
            list-style-type: none;
        }

{% endblock %}

{% block content %}
<div class="centered" style="height:100%;">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with Reddit.{% endblocktrans %}</p>

    <div class="socialaccount_ballot">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}
