{% extends "base.html" %}

{% block head_title %}Contact{% endblock %}

{% block content %}
    <h1>Contact</h1>
    <p>If you have questions, concerns, or issues with this website or the exchange, feel free to <a href="https://www.reddit.com/message/compose/?to=/r/ClosetSanta&subject=Website%20Issue">PM the /r/ClosetSanta mods</a>. Someone should get back to you within a day or two. We will not un-ban your account if you get put on the naughty list for any reason, but we will happily reset forms and fields (like your initial settings or proof submission) if you notify us <a href="information#dates">before due dates are past</a>.</p>
{% endblock %}
