{% extends "home/homepage.html" %}

{%block extra_content %}
    <br>
    <h3>Sign ups are currently closed. Check the <a href="/information">information page</a> to see when they will be open.</h3>
{% endblock %}
