{% extends "home/homepage.html" %}

{%block extra_content %}
    <br>
    <h3 class="centered">Sign ups are currently open!</h3>
    <a href="{% url 'account_login' %}" class="dropbtn" style="display:block; margin: auto;">Sign up now</a>
{% endblock %}
