{% extends "base.html" %}

{% block head_title %}Closet Santa{% endblock %}

{%block content %}
    <h1>Welcome, Worldwide Weebs!</h1>
    <p><a href="https://www.reddit.com/r/ClosetSanta">/r/ClosetSanta</a> is the home for the otaku version of Reddit's annual Secret Santa gift exchange, and this is our official, hand-crafted website. All news and updates will be posted at the subreddit; this website is for event management and <a href="/security">secure data transfer</a>.</p>
    <p>In our exchange, <b class="hilight">Santa-san</b> sends gifts to their <b class="hilight">kouhai</b>.</p>
    <h2>Please read through the <a href="/information">rules and information</a> before signing up.</h2>
    {% block extra_content %}
    {% endblock %}
{% endblock %}
