{% extends "base.html" %}
{% load static %}

{% block head_title %}Important Information{% endblock %}

{% block content %}
    <h1>Information</h1>
    <p>Please be sure to read all of this information before signing up.</p>
    <ul>
        <li><a href="#how-this-works">How This Works</a></li>
        <li><a href="#dates">Important Dates</a></li>
        <li><a href="#elig">Eligibility</a></li>
        <li><a href="#rep-sub">Representing a Subreddit</a></li>
        <li><a href="#proof">Proof of Shipment</a></li>
        <li><a href="#costs">Gift Costs</a></li>
    </ul>
    <h2><a class="anchor" id="how-this-works"></a>How This Works</h2>
    <p>When sign ups are open, head over to the "Sign In" page and log in through Reddit. After authorizing the website to access your account information, you will be redirected to your profile page. On your first visit, there will be a form for you to fill out with the following information:</p>
    <ul>
        <li>Your home country (needed to pair gifters who don't want to pay for international shipping)</li>
        <li>Whether or not you want to be an international santa</li>
        <li>Whether of not you want to be a regifter (someone who sends a second gift to someone whose original santa didn't deliver)</li>
        <li>What subreddit you wish to represent (<a href="#rep-sub">see "Representing a Subreddit"</a>)</li>
    </ul>
    <p><span class="warning">You will not be registered for the exchange until you have submitted these settings.</span> Furthermore, these settings are only able to be set once, so make sure you are willing and able to follow through with whatever settings you choose here.</p>
    <p>Once you have submitted your settings, if you pass the eligibility requirements (<a href="#elig">see "Eligibility"</a>), you will be added to the exchange. When sign ups end, all users will be matched based on their location, subreddit, and international status. Once you have been asigned a kouhai, you will have until the "Proof Due" date (<a href="#dates">see "Important Dates"</a>) to submit proof of shipment for your gift(s) (<a href="#proof">see "Proof of Shipment"</a>). If you have not submitted proof by that deadline, you will be banned from future events (<a href="#elig">see "Eligibility"</a>). After the deadline, rematchers will be assigned a new kouhai and the process will repeat.</p>
    <h2><a class="anchor" id="dates"></a>Important Dates</h2>
    <div class="shady-wrap">
        <table class="shady-table">
            <tr>
                <td>Sign ups begin</td>
                <td id="signup-start-date">November 7, 2021 00:00:00 GMT</td>
                <td id="signup-start">Enable JavaScript to see the countdown</td>
            </tr>
            <tr>
                <td>Sign ups end</td>
                <td id="signup-end-date">November 20, 2021 23:59:59 GMT</td>
                <td id="signup-end">Enable JavaScript to see the countdown</td>
            </tr>
            <tr>
                <td>Pairings are assigned</td>
                <td id="pairing-happens-date">November 21, 2021 00:00:00 GMT</td>
                <td id="pairing-happens">Enable JavaScript to see the countdown</td>
            </tr>
            <tr>
                <td>Proof of shipment due</td>
                <td id="pop-due-date">December 4, 2021 23:59:59 GMT</td>
                <td id="pop-due">Enable JavaScript to see the countdown</td>
            </tr>
            <tr>
                <td>Rematching begins</td>
                <td id="rematch-start-date">December 5, 2021 00:00:00 GMT</td>
                <td id="rematch-start">Enable JavaScript to see the countdown</td>
            </tr>
            <tr>
                <td>Rematching proof of shipment due</td>
                <td id="rematch-pop-due-date">December 18, 2021 23:59:59 GMT</td>
                <td id="rematch-pop-due">Enable JavaScript to see the countdown</td>
            </tr>
        </table>
    </div>
    <p><b><u class="warning">These dates are set in stone!</u></b> Please be vigilant and ensure that you:</p>
    <ul>
        <li>Know when the ending dates are</li>
        <li><u>Have money set aside in advance</u> to purchase your gift(s)</li>
    </ul>
    <h2><a class="anchor" id="elig"></a>Eligibility</h2>
    <p>In the past, people have signed up for this exchange only to <em>mysteriously</em> become inactive when it was time for them to actually buy a present. We do not approve of people who leech off of this exchange for free anime merchandise, so we have instated some light eligibility requirements for our exchange:</p>
    <h4>For users new to the exchange</h4>
        <ul>
            <li>Your account must be <b>at least 18 months old.</b></li>
            <li>Your account must have <b>more than 2,000 karma</b> from anime-related, non-popular subreddits ("adjusted karma")</li>
        </ul>
    <p>Our reasoning behind this is that we believe users who have been active on Reddit for a long-ish time will be more likely to follow through with delivering a gift than those who lurk or create burner accounts. In order to help fight "karmawhore" accounts from unfairly passing this rule, we have a formula to detract karma from a user's total karma if that karma was gained in a popular, non-anime subreddit. You can read more about our "adjusted karma" <a href="/karma_adjust">here</a>.</p>
    <h4>For users who have participated previously</h4>
    <p>Users who participated in the previous year's exchange are exempt from the above rules. The only criteria for returning members is if your account was <b class="warning">naughty</b> or <b class="hilight">nice</b> in the previous year's exchange.</p>
    <ul>
        <li>If you were <b class="hilight">nice</b> in the previous exchange (if you delivered a gift), you are <span class="hilight">automatically accepted</span> into this year's exchange.</li>
        <li>If you were <b class="warning">naughty</b> in the previous exchange (if you did not deliver a gift), you are <span class="warning">automatically banned</span> from this year's exchange.</li>
    </ul>
    <p>If you miss a year or drop out before matches are made, you will be treated as a new user if you participate in the future.</p>
    <h2><a class="anchor" id="rep-sub"></a>Representing a Subreddit</h2>
    <p>Choosing to represent a subreddit means that you will be buying a gift related to that series for your kouhai. The purpose of this is to expose people to new series and potentially widen your communities. If you wish to buy things outside of your subreddit for your kouhai (ex. a mousepad of their waifu/husbando), you may, however we encourage that at least one gift be from your chosen subreddit's series.</p>
    <p>Please note that you will not be officially representing a subreddit until after you have been accepted into the exchange.</p>
    <h2><a class="anchor" id="proof"></a>Proof of Shipment</h2>
    <p>Proof of shipment should be a screenshot of your "order confirmation" screen or a scan of the physical shipment receipt. Please read our <a href="/security#screenshot-safety">screenshot safety notice before screenshotting your proof</a>. In online proof images, you must be able to see an order confirmation number. The gift does not have to arrive by the "proof of shipment" date, however you must have uploaded your proof by the end of that date. Here are two example proofs (click to see full size):</p>
    <a href="{% static 'home/Example_proof.png' %}"><img src="{% static 'home/Example_proof.png' %}" style="width:100%; border: 3px solid var(--header-accent);" alt="An image of two 'order confirmation' dialogs, one from Amazon and one from Newegg. The order confirmation number is clearly visible in both dialogs."></a>
    <p>Note: You do not have to crop nor censor your proof as shown here if you do not want to or do not know how. All proof images must be &lt;2.5MB in size. You may submit more than one image if you need to.</p>
    <h2><a class="anchor" id="costs"></a>Gift Costs</h2>
    <p>There is no hard-set limit on how much money you need to spend on your kouhai, however we recommend between $20-50 USD as the total amount for your kouhai's gifts.</p>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'home/infopage.js' %}" defer></script>
{% endblock %}
