{% extends "base.html" %}

{% block head_title %}Karma Adjusting{% endblock %}

{% block extra_styles %}
    .halfblock {
        display: inline-block;
        width: 50%;
    }
    .listblock {
        overflow: scroll;
        height: 450px;
        border: 2px solid var(--header-accent);
        margin:5px;
    }
{% endblock %}

{%block content %}
    <h1>What the heck is Adjusted Karma!?</h1>
    <p><em class="hilight">Adjusted Karma</em> is what the mod team considers your karma total to be for anime-related subreddits. We calculate it using the following formula:</p>
    <code style="padding: 0px 30px; display: block;">Adjusted Karma = (your total submitted karma) + (your total comment karma) - (the total score from any posts made to restricted subs within your top 25 scoring posts) - (the total score from any comments made to restricted subs within your top 50 scoring comments) + (the total number of any upvotes given in acceptable subs within your last 100 upvotes)</code>
    <p>What this attempts to do is create a representation of your account's total karma towards anime-related subs/content. We found this to be necessary in order to weed out accounts that may have inflated karma scores thanks to karmawhoring on high-traffic subreddits. The lists of acceptable and restricted subreddits can be found below.</p>
    <div>
        <div class="halfblock">
            <h2 class="centered">Acceptable Subreddits</h2>
            <div class="listblock"><ul>
                {% for sub in allowed %}
                <li>/r/{{sub}}</li>
                {% endfor %}
            </ul></div>
        </div><div class="halfblock">
            <h2 class="centered">Restricted Subreddits</h2>
            <div class="listblock"><ul>
                {% for sub in ignored %}
                <li>/r/{{sub}}</li>
                {% endfor %}
            </ul></div>
        </div>
    </div>
{% endblock %}
