{% extends "base.html" %}

{% block head_title %}Security and Privacy{% endblock %}

{% block extra_styles %}
{% endblock %}
{%block content %}
    <h1>Notes on Security</h1>
    <h2>Our practices</h2>
    <p>The mods of /r/ClosetSanta are dedicated to the safe and secure transfer of sensitive information. In order to keep your private data such as your name and address safe during this exchange, we have created a key-based encryption system wherein all encryption and decryption is done in the browser using no external scripts or servers. Let's break it down in baka terminology:</p>
    <ul>
        <li>On your profile page, you will generate a random, 48-character password which we call a "key".</li>
        <li>When you go to send us your shipping information, before your computer sends us anything, it will scramble the information, using the key as a roadmap for how to scramble it exactly.</li>
        <li>Our server will get <i>only</i> the scrambled data. It will never even see your key.</li>
        <li>When you are assigned a santa, you will send them your key using the messaging bot.</li>
        <li>Your santa will go to your profile page and paste your key into a box.</li>
        <li>Their computer will read your key, pull the roadmap out from it, then use the roadmap to unscramble your information.</li>
    </ul>
    <p>Here's an infographic that shows the flow of data and who can see what when. (Click for full size)</p>
    {% load static %}
    <a href="{% static 'home/infographic.png' %}"><img src="{% static 'home/infographic.png' %}" style="width:50vw; margin-left:auto; margin-right:auto; display:block; border: 3px solid var(--header-accent);" alt="An infographic on data flow"></a>
    <h2>Unmitigated Risks in this Model</h2>
    <p>There are still risks associated with this method of data transfer. For starters, the mod team is still in control of every aspect of this data transfer; we control both the bot and the website. Potentially, we could see the names and addresses of anyone participating in the event, assuming we took the time to sift through the bot's messages to find your key. In order to minimize this threat, we have restricted access to the bot to only (Bot-wranglin' mod, probably /u/gokapaya) and we have restricted access to the website's database to only /u/Omnipotence_is_bliss. </p>
    <p>Another possible security threat comes from our use of Reddit as a login authenticator. We use this feature to ensure that only Reddit users sign up through our website and to automatically parse some public account information to determine if your account meets activity and age requirements. The threat involved with this is that if your Reddit account were to be compromised, your data would be accessible to the hacker (if they knew to look through your sent messages for your key, then logged in here and used it). We have attempted to mitigate this by allowing you to change your sensitive data or key at any given point in time. Once you have received confirmation from your santa that they have purchased your gift, we recommend that you go into your profile page and resubmit the "Shipping Information" form with no information in the box. This will delete your encrypted address from our database, never to be seen again. We also recommend that you change your Reddit password with <a href="https://www.nist.gov/video/password-guidance-nist-0">a strong password</a> on a regular basis.</p>
    <p>If you wish to scrutinize our security practices, you may look through this website's <a href="https://gitlab.com/WolfgangAxel/closet-santa-website">source code</a> or the <a href="https://gitlab.com/WolfgangAxel/RSSB">messaging bot's source code</a> and submit pull requests with your findings. </p>
    <h2>Server Validity</h2>
    <p>See <a href="/site-status">this page</a> if you want to verify the integrity of the server.</p>
    <h2 id="screenshot-safety">Screenshot Safety</h2>
    <p>One of our bigger motivations for making our own site was to ensure the safety of everyone's private information. We do our best to keep everything secure, and only for a short time around the exchange, however we can't ensure the safety of data before it gets to us. For example, some screenshotting tools like Lightshot give you the option to upload the image to their servers for easy public sharing, and other tools will automatically upload the image. This may be convenient for some cases, however this poses a threat to the safety of the person whose address was uploaded. For this reason, <b>we ask that any person participating in our event please not upload their proof images to <i>any</i> online services outside of our own.</b></p>
    <p>For your convenience, here is a list of screenshotting utilities that are free and safe to use:</p>
    <ul>
        <li>Web Browsers
        <ul>
            <li>Firefox has a <a href="https://support.mozilla.org/en-US/kb/firefox-screenshots">built in screenshot utility for desktop versions 58+</a></li>
            <li>Chrome users will need an extension, such as <a href="https://chrome.google.com/webstore/detail/make-a-screenshot/gfpdknjgjlakoegfncghjdggmolfocpa">Make a Screenshot</a></li>
        </ul>
        </li>
        <li>Operating Systems
        <ul>
            <li>For Windows 7-10, <a href="https://support.microsoft.com/en-us/windows/use-snipping-tool-to-capture-screenshots-00246869-1843-655f-f220-97299b865f6b">Snipping Tool is available</a></li>
            <li>For Windows 10, <a href="https://www.microsoft.com/en-us/p/snip-sketch/9mz95kl8mr0l">Snip and Sketch</a> is also available</li>
            <li>For Mac, <a href="https://support.apple.com/en-us/HT201361">press <b>shift+command+4</b></a></li>
            <li>For GNU/Linux and other *nixes, your Desktop Environment probably has its own utility, otherwise <a href="https://github.com/naelstrof/maim">maim</a> is a very lightweight CLI program for screenshotting</li>
            <li>For basically any operating system, you can install <a href="https://www.gimp.org/">GIMP</a></li>
        </ul>
        </li>
        <li>Smartphones
        <ul>
            <li>On <a href="https://support.google.com/android/answer/9075928?hl=en">Android</a>, most phones will screenshot by pressing <b>power and volume down</b> simultaneously, or <b>long-pressing the power button</b> and selecting "screenshot"</li>
            <li>On <a href="https://support.apple.com/en-us/HT200289">iPhone</a>, press <b>power and volume up</b> simultaneously, or pressing <b>power and home</b> simultaneously on models that still have those</li>
        </ul></li>
    </ul>
    <p><b>TL;DR:</b> Make sure that your screenshotting tool does not upload your images automatically, and do not upload them to any online service outside of this website.</p>
{% endblock %}
