{% extends "base.html" %}

{% block head_title %}Confirm Deletion{% endblock %}

{% block content %}
    <p>Are you sure you want to delete this image? (Click to enlarge)</p>
    <a href="{{url}}"><img style="width:90%;" src="{{url}}"></a><br>
    <form method="post" action="/admin/extras/proof-delete/{{uid}}/{{pid}}">{% csrf_token %}<input class="dropbtn" type="submit" value="Yes, delete it"></form>
{% endblock %}
