{% extends "base.html" %}

{% block head_title %}Error with task{% endblock %}

{% block content %}
    <h1 class="warning">Error opening task</h1>
    <p>No such slug exists</p>
    <p><a href="/admin/extras/tasks/incompleted">Return to task list</a></p>
{% endblock %}
