{% extends "base.html" %}

{% block head_title %}Admin Tasks{% endblock %}

{% block extra_styles %}
    .taskbox {
        display:block;
        background-color: #535353;
        padding: 5px;
        margin: 5px;
    }
{% endblock %}

{% block content %}
    {% for task in tasks %}
    <div class="taskbox">
        <span>{{task.created.month}}/{{task.created.day}}: <a href="task/{{task.slug}}">{{task.title}}</a></span>
    </div>
    {% endfor %}
    {% if list == "incompleted" %}
    <p><a href="completed">Click here to see completed tasks</a></p>
    {% else %}
    <p><a href="incompleted">Click here to see incompleted tasks</a></p>
    {% endif %}
{% endblock %}
