{% extends "base.html" %}

{% block head_title %}{{task.title}}{% endblock %}

{% block content %}
    <h1>{{task.title}}</h1>
    <p>{{task.description|safe}}</p>
    {% if not task.completed %}
    <form  method="post" action="{{task.slug}}">
    {% csrf_token %}
    <input class="dropbtn" type="submit" value="Task Completed">
    </form>
    {% else %}
    <p>Completed by {{task.completed_by.username}}</p>
    {% endif %}
{% endblock %}
