{% extends "base.html" %}

{% block head_title %}Subreddit Directory{% endblock %}

{% block content %}
    <h1>Subreddit Directory</h1>
    <p>These subreddits are participating in this year's exchange. You may see who is representing each sub by going to that sub's page.</p>
    <ul>
        {% for sub in subs %}
        <li><a href="{{sub}}">{{sub}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
