{% extends "base.html" %}

{% block head_title %}{{subreddit}}{% endblock %}

{% block content %}
    <h1><a href="https://www.reddit.com{{subreddit}}" style="text-decoration:none; color:inherit;">{{subreddit}}</a></h1>
    <p>Here are the users representing <a href="https://www.reddit.com{{subreddit}}">{{subreddit}}</a></p>
    <div class="shady-wrap"><table class="shady-table">
        {% if table %}
        {% for user in table %}
        <tr><td>/u/{{user.username}}</td></tr>
        {% endfor %}
        {% else %}
        <tr><td>None yet! :(</td></tr>
        {% endif %}
    </table></div>
{% endblock %}
