{% extends "base.html" %}

{% block head_title %}Sponsorships{% endblock %}

{% block content %}
    <h1>Sponsorships</h1>
    <p>Our account requirements for getting into the exchange are the best we can do to "vet" users on an anonymous website like Reddit. That said, they are quite unfair to lurkers and users with new accounts, even if these users truly would be <b class="hilight">nice</b>. To attempt help more users participate, we instituted sponsorships in 2021. Sponsorships allow users to bypass our account requirements entirely and be included into the exchange if they can earn the trust of a user who was already accepted into the exchange.</p>
    <h2>The Rules</h2>
    <p>Sponsorships are something we take very seriously. We do not want users sponsoring their own burner accounts, getting multiple gifts, and only having their burners banned. To prevent this sort of situation, <b class="warning">sponsors will be held accountable for the actions of those they sponsor</b>. In other words, if a sponsored user does not deliver a gift and gets banned, then the sponsor will also be banned. Similarly, if a sponsored user does deliver a gift and gets whitelisted, then the sponsor will also be whitelisted. These sponsor-related bannings and whitelistings are in addition to the normal banning and whitelisting we do, meaning that if a sponsor and a user they sponsored both deliver a gift, then the sponsored user will be whitelisted for one year, but the sponsor will be whitelisted for 2.</p>
    <p>A user will remain sponsored until the end of the first shipment phase. If they are <b class="hilight">nice</b> to their first kouhai, then they are considered trustworthy, added to the whitelist, and their sponsorship terminated. This means any consequences the formerly sponsored user might receive in the second shipping phase or future exchanges will only affect themselves, and will not affect the original sponsor. </p>
    <h2>How It Works</h2>
    <p>When a user gets the notification message from the website bot that they met our account requirements, they will be given 3 sponsorship invitations. When an account has invitations remaining, that user can come to this page during signups to redeem them. Sponsorships can only be given to users who have received a message saying they have not been accepted and who are not currently banned. Enter the username (without /u/) of the user to be sponsored into the form, then check the acknowledgement box and submit the form. If the username was not mistyped, the user has already had their account checked, and the user is not banned currently, then the sponsor will lose 1 invitation and the sponsored user will immediately be accepted into the exchange. Should any issue arise with these criteria, no invites will be deducted from the sponsor.</p>
    {% if show_extra %}
    <hr />
    <p>Invites remaining: {{ invites_remaining }}</p>
    {% if show_form %}
    <form action="/sponsorships/create/" method="post" id="invitation">
        <table style="table-layout: fixed; display: block; margin: auto;">
        {% csrf_token %}
        {{ invitation }}
        <tr><td></td><td><input class="dropbtn" type="submit" value="Submit"></td></tr>
        </table>
    </form>
    {% endif %}
    <ul><li>Users I have sponsored</li><ul>
    {% for invitee in invitees %}
    <li>{{ invitee }}</li>
    {% endfor %}
    </ul></ul>
    {% endif %}
{% endblock %}
 
