{% extends "base.html" %}

{% block head_title %}Yearbook list{% endblock %}

{% block content %}
    <h1>{{memorial.year}}</h1>
    <h2>Participation</h2>
    <h3>Users</h3>
    <ul>
        <li>Users accepted into the exchange: {{memorial.total_participants}}</li>
        <li>Gifts delivered: {{memorial.gifts_delivered}}</li>
        <li><span class="hilight">Nice Santas</span>: {{memorial.nice}}</li>
        <li><span class="warning">Naughty Santas</span>: {{memorial.naughty}}</li>
        <li>Total anonymous messages sent: {{memorial.messages_sent}}</li>
    </ul>
    <h3>Subreddits</h3>
    <p>We thank the mod teams of every subreddit that participated. Without you, our exchange wouldn't have been possible!</p>
    <ul>
        {% for sub in subs %}
        <li><a href="https://www.reddit.com{{sub}}">{{sub}}</a></li>
        {% endfor %}
    </ul>
    {% if m_quotes or r_quotes or s_quotes %}
    <h2>Quotes</h2>
    <p>A lot of time, effort, and money from people all across the globe went in to making this exchange possible. We'd like to recognize the people who went above and beyond here by allowing them to leave a message for the world to see.</p>
    {% if m_quotes %}
    <h3>Moderators</h3>
    <p>Mods put in a lot of work behind the scenes to make sure everything goes as smoothly as it can. Thank you for your efforts!</p>
    <ul>
        {% for q in m_quotes %}
        <li><a href="https://www.reddit.com/user/{{q.user}}">/u/{{q.user}}</a><ul>
            <li>
                {% for line in q.message.splitlines %}{% if line %}
                <p>{{line}}</p>
                {% endif %}{% endfor %}
            </li>
        </ul></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if r_quotes %}
    <h3>Regifters</h3>
    <p>Regifters are awesome people who sent an additional gift to a user whose original santa was <span class="warning">naughty</span>. Thank you so much for your generosity!</p>
    <ul>
        {% for q in r_quotes %}
        <li><a href="https://www.reddit.com/user/{{q.user}}">/u/{{q.user}}</a><ul>
            <li>
                {% for line in q.message.splitlines %}{% if line %}
                <p>{{line}}</p>
                {% endif %}{% endfor %}
            </li>
        </ul></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if s_quotes %}
    <h3>Special Thanks</h3>
    <p>For all the people who significantly helped out in any other way, we sincerely thank you!</p>
    <ul>
        {% for q in s_quotes %}
        <li><a href="https://www.reddit.com/user/{{q.user}}">/u/{{q.user}}</a><ul>
            <li>
                {% for line in q.message.splitlines %}{% if line %}
                <p>{{line}}</p>
                {% endif %}{% endfor %}
            </li>
        </ul></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
{% endblock %}
