{% extends "base.html" %}

{% block head_title %}Yearbook list{% endblock %}

{% block content %}
    <h1>Closet Santa Yearbooks</h1>
    <p>Take a stroll down memory lane and see how previous years have gone.</p>
    <ul>
        {% if years %}
        {% for year in years %}
        <li><a href="/yearbook/{{year.year}}/{{year.season}}">{{year}}</a></li>
        {% endfor %}
        {% else %}
        <li>None found! Come back later :)</li>
        {% endif %}
    </ul>
{% endblock %}
