<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.gif' %}"/>
    <link id="theme" type="text/css" rel="stylesheet" href="{% if request.session.css %}{{ request.session.css }}{% else %}{% static 'home/cs.css' %}{% endif %}">
    <link type="text/css" rel="stylesheet" href="{% static 'home/base.css' %}">
    <style id="htmlstyle">
        html {
            background-color: var(--bg);
            color: var(--text);
            background-image: url({% if request.session.bg %}{{ request.session.bg }}{% else %}{% static 'home/bg.gif' %}{% endif %});
        }
    </style>
    <style>
        {% block extra_styles %}
        {% endblock %}
    </style>
  </head>
  <body>
    <div class="header">
        <div class="dropdown" id="UserButton">
            {%if user.is_authenticated %}
            <button class="dropbtn">{{user.username}}</button>
            <div class="dropdown-content">
                <!-- More links here,  -->
                <a href="/u/{{ user.username }}">My Profile</a>
                {% if user.kouhai %}
                <a href="/u/{{ user.kouhai }}">My Kouhai</a>
                <a href="https://www.reddit.com/message/compose/?to=CSMessagingBot&subject=To%20Santa-san">Send a message to Santa-san</a>
                <a href="https://www.reddit.com/message/compose/?to=CSMessagingBot&subject=As%20Santa-san">Send a message to Kouhai</a>
                {% endif %}
                <a href="{% url 'account_logout' %}">Sign Out</a>
            </div>
            {% else %}
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="{% url 'account_login' %}">Sign In</a>
            </div>
            {% endif %}
        </div><div class="dropdown" id="NavButton">
            <button class="dropbtn dropbtn2" href="/"><b>Santa is a Closet Weeaboo!</b></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/information">Information</a>
                <a href="/r/all">Subreddit Directory</a>
                <a href="/sponsorships/">Sponsorship</a>
                <a href="/yearbook">Closet Santa Yearbooks</a>
                <a href="/security">Security and Privacy</a>
                <a href="/contact">Contact</a>
                {% if user.is_staff %}
                <a href="/admin">Admin Panel</a>
                <a href="/admin/extras/tasks/incompleted">Admin Tasks</a>
                {% endif %}
            </div>
        </div><button class="dropbtn dropbtn2" onclick="toggle_theme()">☀</button>
    </div>
    {% if messages %}
    <div class="float-message">
      <div class="float-message-content">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="content">
        {% block content %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
    </div>
    <footer class="footer centered">
        <a href="https://www.djangoproject.com/">Powered by Django</a> | <a href="https://gitlab.com/WolfgangAxel/closet-santa-website">Source Code</a> | <a href="/site-status">Site Status</a> | Brought to you with love from the Closet Santa Mod Team ♥ 
    </footer>
    <script type="text/javascript" src="{% static 'home/theme.js' %}" defer></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
