{% extends "base.html" %}

{% block head_title %}Git Repo Validity{% endblock %}

{% block extra_styles %}
{% endblock %}
{%block content %}
    <h1>Git Repository Validity</h1>
    <p>This website's source code is hosted <a href="https://gitlab.com/WolfgangAxel/closet-santa-website">on GitLab</a>. This page transparently shows if the website has been altered from the source, ensuring that you can trust this website to operate exactly as the public source code dictates it will. Note that this does not track files that are expected to change, such as <code>settings.py</code>, the database, or files uploaded by users.</p>
    <h3>Status Report</h3>
    <ul>
        <li>Report generated
            <ul><li>{{ generated }}</li></ul></li>
        <li>Git remote
            <ul><li><code>{{ remote }}</code></li></ul></li>
        <li>Server's HEAD
            <ul><li><a href="https://gitlab.com/WolfgangAxel/closet-santa-website/tree/{{ hash }}"><code>{{ commit }}</code></a></li></ul></li>
        <li>Commit by
            <ul><li><code>{{ author }}</code></li></ul></li>
        <li>Commit message
            <ul><li>{{ message }}</li></ul></li>
        <li>Has this repository been altered?
            <ul><li><code>{{ dirty }}</code></li></ul></li>
        {% if dirty == "Yes" %}
        <li>List of altered files
            <ul>
            {% for f in untracked %}
                <li><code>{{ f }}</code></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
{% endblock %}
