{% extends "users/profile_template.html" %}

{% block kouhai_content %}
    <h2>Proof of Shipping</h2>
    {% if not user.done_submitting_proof and able %}
    <p>Proof images must be less than {{file_size}} MB each. You have used {{total_uploaded}} MB of your {{total_space}} MB available space. <span class="warning">You will not be able to submit any more proof once you indicate that you are done submitting proof.</span></p>
    <form enctype="multipart/form-data" method="post" action="/u/{{username}}/form-response-proof/" id="proof_form">
        <table style="display:block; margin:auto; width:50%;">
        {% csrf_token %}
        {{proof_form}}
        <tr><td></td><td><input class="dropbtn" type="submit" value="Submit"></td></tr>
        </table>
    </form>
    <h4>Submitted Proof</h4>
    <p>Here are the proofs you have already submitted. <a href="https://www.reddit.com/message/compose/?to=/r/ClosetSanta&subject=Website%20proof%20delete%20request">Contact the moderators</a> if you need one removed. All proof will be deleted at the conclusion of the exchange.</p>
    <ul>
        {% for proof in user.proof_set.all %}
        <li><a href="/u/{{ user.username }}/proof/{{ proof.id }}">{{ proof.image.name }}</a></li>
        {% endfor %}
    </ul>
    {% elif not able %}
    <p>Proof is not able to be submitted at this time.</p>
    {% else %}
    <p>Thanks for submitting your proof! It would be nice of you to <a href="https://www.reddit.com/message/compose/?to=CSMessagingBot&subject=As%20Santa-san">tell your kouhai that their gifts are on their way</a>.</p>
    {% endif %}
{% endblock %}
