{% extends "users/profile_template.html" %}

{% block personal_content %}
    <h2>One-time Settings</h2>
    <p><span class="warning">You have not yet provided required information to participate in this exchange.</span> Fill out the form below and submit it to finalize your sign up.</p>
    <p><b><u>NOTE:</u></b> You may only fill this form out once! Be sure that you are willing and able to regift or ship internationally before signing up to do so.</p>
    <form action="/u/{{username}}/form-response-settings/" method="post" id="settings-form">
        <table style="table-layout: fixed; display: block; margin: auto;">
        {% csrf_token %}
        {{ settings_form }}
        <tr><td></td><td><input class="dropbtn" type="submit" value="Submit"></td></tr>
        </table>
    </form>
{% endblock %}
