{% extends "base.html" %}
{% load static %}

{% block head_title %}/u/{{username}}'s profile{% endblock %}

{% block content %}
    <h1 style="display:inline-block">{{username}}</h1>
    {% if representing %}<h4 style="display:inline-block">Representing {{representing}}</h4>{% endif %}
    {% if is_mod %}<h5>🌟🌟 I'm a moderator! 🌟🌟</h5>{% endif %}
    {% if international %}<h5>🌐🌐 I'm an international gifter! 🌐🌐</h5>{% endif %}
    {% if regifter %}<h5>🎁🎁 I'm a regifter! 🎁🎁</h5>{% endif %}
    {% if whitelisted %}<h5>🎄🤶 Returning Santa 🎅🎄</h5>{% endif %}
    <h5>Hailing from {{location}}</h5>
    <h5 id="js-warning" class="warning">Certain aspects of this page require JavaScript to be enabled. Check the page source to review the script and reload the page with JavaScript enabled or unblocked.</h5>
{% block personal_content %}
{% endblock %}
    {% if address_info %}
    <h2>Address Decryptor</h2>
    <p>To use the address decryptor for <span class="hilight">/u/{{username}}'s</span> shipping information, paste their key into the box below and press the 'Decrypt Data' button.</p>
    <table style="padding:20px; width:100%; table-layout:fixed;">
        <tr>
            <td><div id="encrypted_data" class="infobox" style="visibility: hidden;">{{address_info}}</div></td>
            <td><div id="decrypted_data" class="infobox"></div></td>
        </tr>
        <tr>
            <td><input type="text" class="key_in" style="width:100%;" id="decrypt_key_in" placeholder="Paste key here..."></input></td>
            <td><button class="dropbtn" style="display: block; margin: auto;" onclick="decrypt()">Decrypt Data</button></td>
        </tr>
        <tr>
            <td><button id="toggData" class="dropbtn" style="display: block; margin: auto;" onclick="toggleEncData()">Show encrypted data</button></td>
            <td></td>
        </tr>
    </table>
    {% endif %}
    {% block kouhai_content %}
    {% endblock %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'users/profile.js' %}"></script>
{% endblock %}
