{% extends "users/profile_template.html" %}

{%block personal_content %}
    <p>Am I participating this year? <b style="font-size:20px;">{{accepted_into_exchange}}</b></p><ul>
        {% if user.checked_karma %}
        <li><a href="/karma_adjust">Adjusted karma</a>: {{totalKarma}}</li>
        {% else %}
        <li><a href="/karma_adjust">Your karma has not yet been reviewed</a>. Your eligibility status will be updated once it has. Karma is checked at the start of each hour.</li>
        {% endif %}
        <li>Age in months: {{age}}</li>
        {% if banned %}
        <li>Was I naughty last year?: <b class="warning">Yes, yes I was.</b></li>
        <li>When will I be off the naughty list?: {{banned_until}}</li>
        {% endif %}
    </ul>
    <h2>Delivery Information</h2>
    <p>To safely transfer your shipping information to your Santa, we utilize key-based encryption. <a href="/security">Read more about what that means here</a>. To set your shipping information, do the following:</p>
    <ol>
        <li>Paste your key here or press 'Generate': <input class="key_in" type="text" id="key_field"></input> <button class="dropbtn" onclick="genKey()">Generate</button></li>
        <li>Copy your key and <span class="warning">save it to your computer</span>.</li>
        <li>Enter in your shipping information  in the box below.</li>
        <li>Press submit.</li>
        <li>When you are assigned a Santa, send them your key in a message using the messaging bot.</li>
    </ol>
    <form action="/u/{{username}}/form-response-address/" method="post" id="address_form">
        <table>
        {% csrf_token %}
        {{ address_form }}
        <tr><td></td><td><input class="dropbtn" type="submit" value="Submit"></td></tr>
        </table>
    </form>
    <p>After you have submitted your address information, you may verify that your key works with the address decryptor.</p>
{% endblock %}
