.centered {
    text-align: center;
}
.header {
    z-index: 1;
    background-color: var(--header-main);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.warning {
    color: var(--warn);
}
.hilight {
    color: var(--hilight);
}
body {
    padding: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 1200px;
    max-width: 95vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.content {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(to right, var(--bg-a), var(--bg), var(--bg), var(--bg), var(--bg-a));
    padding: 4em;
    padding-bottom: 40px;
    overflow-y: scroll;
}
.footer {
    z-index: 1;
    clear: both;
    position: absolute;
    box-shadow: 0px 0px 3px 3px var(--footer-main);
    bottom: 0;
    width: 100%;
    background-color: var(--footer-main);
    color: var(--footer-text);
    font-size: 0.7em;
}
a {
    color: var(--link);
}
.footer a {
    color: var(--footer-text);
}
p {
    line-height: 2;
}
h1 {
    color: var(--heading-one);
}
h2 {
    color: var(--heading-two);
    padding: 0px 10px;
    width: 100%;
    border-bottom: 2px solid var(--heading-two)
}
h4 {
    color: var(--heading-four);
}
h5 {
    margin: 5px 10px;
    color: var(--header-five);
}
.dropbtn {
    background-color: var(--header-accent);
    color: var(--header-accent-text);
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: max-content;
    text-decoration: none;
}
.dropbtn2 {
    background-color: var(--header-main);
    color: var(--header-text);
}
.dropbtn:hover {
    background-color: var(--menu-selected);
    color: var(--menu-selected-text);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--menu-item);
    min-width: 100%;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.9);
    z-index: 1;
}
.dropdown-content a {
    color: var(--menu-text);
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
}
.dropdown-content a:hover {
    background-color: var(--menu-item-hover);
    color: var(--menu-item-hover-text);
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--menu-selected);
    color: var(--menu-selected-text);
}
.@keyframes fadeout {
    0% {opacity:1; z-index:1; visibility:visible;}
    90% {opacity:1; z-index:1; visibility:visible;}
    100% {opacity:0; z-index:0; visibility:hidden;}
}
@-moz-keyframes fadeout {
    0% {opacity:1; z-index:1; visibility:visible;}
    90% {opacity:1; z-index:1; visibility:visible;}
    100% {opacity:0; z-index:0; visibility:hidden;}
}
@-webkit-keyframes fadeout {
    0% {opacity:1; z-index:1; visibility:visible;}
    90% {opacity:1; z-index:1; visibility:visible;}
    100% {opacity:0; z-index:0; visibility:hidden;}
}
.float-message {
    position: fixed;
    right: 0px;
    visibility: hidden;
    padding: 3px;
    margin: auto;
    width: 400px;
    word-wrap: break-word;
    background-color: var(--footer-main);
    color: var(--bg);
    border-radius: 8px;
    z-index: 0;
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    -moz-animation-name: fadeout;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-out;
}
.float-message-content {
    position: relative;
}
.textarea {
    background-color: var(--bg);
    color: var(--text);
    overflow: scroll;
    border-color: var(--header-accent);
    width: 100%;
}
input .key_in {
    overflow: scroll;
    color: var(--warn);
    background-color: var(--bg);
    border-color: var(--header-accent);
}
th {
    text-align: right;
}
.infobox {
    overflow:scroll;
    word-wrap:break-word;
    margin: 5px;
    max-height: 200px;
    border: 2px solid var(--header-accent);
    padding: 5px;
}
.shady-wrap {
    overflow-x: auto;
    max-width: 100%;
}
.shady-table {
    text-align: center;
    border: 1px solid var(--border);
    border-collapse: collapse;
}
.shady-table tr:nth-child(even) {
    background-color: var(--table-light);
}
.shady-table tr:nth-child(odd) {
    background-color: var(--table-dark);
}
.shady-table td {
    padding:5px;
    border: 1px solid var(--border);
    border-collapse: collapse;
    min-width: max-content;
}
.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
