:root {
    /* background: c1e8e8, snowflakes: 79b9ba */

    /* background colors */
    --bg: #d1e0de;
    --bg-a: #d1e0dec3;

    --header-main: #c1e8e8;
    --header-accent: #008b8b;
    --footer-main: #79b9ba;
    --table-light: #adb7b7;
    --table-dark: #c8cdcd;
    --menu-item: #cceded;
    --menu-selected: #007272;
    --menu-item-hover: #008b8b;
    
    /* text colors */
    --text: #331212;
    --link: #099;
    --warn: #b24c4c;
    --hilight: #4cb24c;
    --header-text: #1e1e24;
    --header-accent-text: #d1e0de;
    --heading-one: #008b8b;
    --heading-two: #332;
    --heading-three: #332;
    --heading-four: #332;
    --heading-five: #332;
    --menu-text: #1e1e24;
    --menu-selected-text: #d1e0de;
    --menu-item-hover-text: #cceded;
    --footer-text: #1e1e24;

    /* misc colors */
    --border: #2e1f21;
}

