:root {
    /* background: 79b9ba, snowflakes: c1e8e8 */

    /* background colors */
    --bg: #1e1e24;
    --bg-a: #1e1e24e3;
    --header-main: #79b9ba;
    --header-accent: #008b8b;
    --footer-main: #c1e8e8;
    --table-light: #484852;
    --table-dark: #323237;
    --menu-item: #cceded;
    --menu-selected: #007272;
    --menu-item-hover: #008b8b;
    
    /* text colors */
    --text: #cceded;
    --link: #27d6d6;
    --warn: #f77;
    --hilight: #7f7;
    --header-text: #1e1e24;
    --header-accent-text: #d1e0de;
    --heading-one: #79b9ba;
    --heading-two: #cce;
    --heading-three: #cce;
    --heading-four: #cce;
    --heading-five: #cce;
    --menu-text: #1e1e24;
    --menu-selected-text: #d1e0de;
    --menu-item-hover-text: #cceded;
    --footer-text: #1e1e24;

    /* misc colors */
    --border: #d1e0de;
}
